<div class="row">
  <div class="col-sm-3">

    <!-- <div class=" col-sm-3" *ngFor="let todo of todos$ | async"> -->
    <mat-card style="padding: 30px;background-color: whitesmoke;" class="example-card">
      <mat-card-header style="display: flex;justify-content: center">
        <mat-card-title style="text-align: center;">dummy title </mat-card-title>
      </mat-card-header>
      <mat-card-content style="display: flex;justify-content: center;">
        <p style="text-align: center;">
          dummy content
        </p>
      </mat-card-content>
      <mat-card-actions style="display: flex;justify-content: center;">
        <button style="background-color: dodgerblue; color: white;" mat-button>EDIT</button>
        <button style="background-color: coral;color: white;" mat-button>DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
